html, body{
	font-family:Arial, sans-serif;
	padding: 0;
	margin: 0;
}

header{
	background:
 #ff99cc;
 	background-image: url('../img/pixel-image-100.jpg')
 	background-repeat: repeat;
 padding: 40px;
 text-align: center;


}

header h1{
	font-size: 80px;
	color: white;
	text-shadow: 0 40px 20px black;
	margin: 0;
	text-transform: uppercase;

}

header img{
	border-radius: 150px;
	width: 300px;
	border:10px solid #99ccff;
	box-shadow: 0 10px 20px black;

}
.content{
	max-width: 400px;
	margin: 0 auto;
	padding: 0 20px;
}

img.big-image{
	max-width: 100%
}

p.caption{
	font-size: 16px;
	color: lightgrey;
	font-style: italic;

}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	color: pink;
	text-decoration: none;

}


footer{
	margin-top: 20px;
	padding:40px 20px;
	background-color: #ffffe6;

}

ul{
	text-align: center;
}

footer ul li{
	display: inline-block;
	margin: 0 5px;
}
